@model Inmobiliaria.Models.Inmueble

@{
    ViewData["Title"] = "Create";
}

<div id="nuevo-container" class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-12">            
            <form asp-action="Create" class="text-center border border-light p-5">
                <p class="h3 mb-4">Crear Nuevo Inmueble</p>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="idInmueble" class="control-label"></label>
                    <input asp-for="idInmueble" class="form-control" />
                    <span asp-validation-for="idInmueble" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="tipo" class="control-label"></label>
                    <input asp-for="tipo" class="form-control" />
                    <span asp-validation-for="tipo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="coordenadas" class="control-label"></label>
                    <input asp-for="coordenadas" class="form-control" />
                    <span asp-validation-for="coordenadas" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="precio" class="control-label"></label>
                    <input asp-for="precio" class="form-control" />
                    <span asp-validation-for="precio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ambientes" class="control-label"></label>
                    <input asp-for="ambientes" class="form-control" />
                    <span asp-validation-for="ambientes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="uso" class="control-label"></label>
                    <select asp-for="uso" class="form-control">
                        <option value="">Selecciona una opción</option>
                        <option value="comercial">Comercial</option>
                        <option value="residencial">Residencial</option>
                    </select>
                    <span asp-validation-for="uso" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="activo" /> @Html.DisplayNameFor(model => model.activo)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="idPropietario" class="control-label"></label>
                    <input asp-for="idPropietario" class="form-control" />
                    <span asp-validation-for="idPropietario" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-info btn-block" />
                </div>
            </form>
        </div>
    </div>
</div>


<div>
    <a asp-action="Index">Back to List</a>
</div>

