@{
    ViewData["Title"] = "Insertar Inmueble";
}

<form method="post" asp-action="Create">
    <label for="tipo">Tipo:</label>
    <input type="text" name="tipo" required/><br><br>
            
    <label for="coordenadas">Coordenadas:</label>
    <input type="text" name="coordenadas" required/><br><br>
            
    <label for="precio">Precio:</label>
    <input type="number" name="precio" required/><br><br>
            
    <label for="ambientes">Ambientes:</label>
    <input type="number" name="ambientes"/><br><br>
            
    <label for="uso">Uso:</label>
    <select name="uso">
        <option value="residencial">Residencial</option>
        <option value="comercial">Comercial</option>
    </select><br><br>
            
    <label for="activo">Activo:</label>
    <input type="checkbox" name="activo" value="1"/><br><br>
            
    <label for="idPropietario">ID Propietario:</label>
    <input type="number" name="idPropietario" required/><br><br>
		
    <input type="submit" value="Insertar"/>
</form>