@model Inmobiliaria.Models.Inmueble

@{
    ViewData["Title"] = "Delete";
    var Inmueble = Model;
}
<div id="contenedor-vista-previa" class="table-responsive d-flex justify-content-center align-items-center">
    
</div>
