@{
    ViewData["Title"] = "Privacy Policy";
}

    <!-- Seccion Hero -->
    
    <section class="hero align-items-stretch">
        <div id="hero-principal">
            <img class="hero-principal-img img-fluid" src="img/about-image.jpg" alt="portada de la inmobiliaria">
            <h1>¡Bienvenido/a a nuestra inmobiliaria!</h1>
            <p>
                Somos un equipo dedicado a ayudarte a encontrar el hogar perfecto para ti y tu familia. Con años de experiencia en el mercado inmobiliario, estamos comprometidos a brindarte un servicio excepcional y una experiencia sin igual al comprar, vender o alquilar una propiedad.
            </p>
            <p>
                Nuestra filosofía se basa en tres pilares fundamentales: honestidad, transparencia y compromiso. Estos valores son la base de nuestra empresa y guían cada una de nuestras interacciones con nuestros clientes.
            </p>
            <p>
                Entendemos que la compra o venta de una propiedad es una de las decisiones más importantes que tomarás en tu vida. Por eso, nos tomamos el tiempo para conocer tus necesidades y deseos, y trabajamos diligentemente para encontrar la mejor opción para ti.
            </p>
            <p>
                En nuestra inmobiliaria, no solo encontrarás una empresa que te ayudará a encontrar la propiedad perfecta, sino también un equipo de expertos en el mercado inmobiliario que te guiará durante todo el proceso. Desde la búsqueda de propiedades hasta el cierre de la transacción, estamos aquí para ayudarte en cada paso del camino.
            </p>
            <p>
                Gracias por considerarnos como tu agencia inmobiliaria de confianza. Esperamos trabajar contigo y ayudarte a encontrar el hogar de tus sueños.
            </p>    
        </div>
    </section>
