@{
    ViewData["Title"] = "Home";
}

<!-- Seccion Hero -->

    <section class="hero align-items-stretch">
        <div class="inicio-hr">
            <hr>
        </div>
        <div id="hero-principal">
            <h1>Hogares Perfectos</h1>
            <img class="hero-principal-img img-fluid" src="/img/portada.jpg" alt="portada de la inmobiliaria">
            <p>En Hogares Perfectos, sabemos que la elección de una casa es una de las decisiones más importantes que
                tomarás en tu vida. Por eso, nuestro objetivo es ayudarte a encontrar la propiedad ideal que cumpla con
                todas tus expectativas y necesidades. Contamos con un equipo de expertos en bienes raíces que se
                encargará de guiarte en cada paso del proceso, desde la búsqueda hasta la entrega de llaves. Confía en
                nosotros para encontrar tu hogar perfecto.</p>
        </div>
        <div class="fin-hr">
            <hr>
        </div>
    </section>
