*{
    margin: 0;
    padding: 0;
}
/* barra de navegacion */
.navbar {
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    font-family: 'Roboto Mono', monospace;
    padding: 2rem;
    font-weight: 600;
}

#navbar-color *{
    background-color: #8a5a41 !important;
    color: #ffffff !important;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    margin-left: -80px;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

nav img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

nav img:hover{
    border: 2px solid #e95a0d;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    box-shadow: #e95a0d 0px 0px 10px;
}

nav li a:hover{
    font-size: 20px !important;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    box-shadow: #e95a0d82 0px 2px 0px;
    margin-bottom: 3px;
}

/* adaptable responsivo */
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .hero-principal-img{
        max-width: 650px !important;
    }
}

@media screen and (min-width: 700px) {
    #login{
        max-height: 650px !important;
    }
}

/* seccion hero */
.hero{
    background-size: cover;
    display: flex;
    margin-top: 60px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: 'Roboto Mono', monospace;
}

.hero-principal-img{
    margin-bottom: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.hero{
    min-height: 450px;
    text-align: center;
}

#hero-principal{
    padding: 10px;
    background-color: #604232;
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

section h1{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff !important;
    text-transform: uppercase;
    margin-bottom: 20px;
}

section h2{
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff !important;
    margin-bottom: 20px;
}

section p{
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff !important;
    margin-bottom: 20px;
}

.inicio-hr hr{
    width: 50%;
    background-color: #604232;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 50px;
    float: left;
    border-width: 4px;
}

.fin-hr hr{
    width: 50%;
    background-color:#604232;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 10px;
    float: right;
    border-width: 4px;
}

.inicio-hr::after {
    content: "";
    display: block;
    clear: both;
}

.fin-hr::after {
    content: "";
    display: block;
    clear: both;
}

/* seccion contacto */

#contacto-image img{
    width: 580px;
    height: 650px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#boton-general{
    background-color: #8a5a41 !important;
    color: #ffffff !important;
    border-color: #8a5a41 !important;
    font-family: 'Roboto Mono', monospace;
}

/* footer */
footer {
    background-color: #8a5a41;
    color: #ffffff;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: .3rem;
    font-weight: 500;
}
footer a{
    text-decoration: none;
}

/* login form */
.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

#login{
    height: 500px;
}

/* estilos de tablas */

a{
    text-decoration: none !important;
}

#thead-color{
    background-color: gainsboro;
    color: black;
}

thead{
    text-align: center;
    font-size: 1rem;
    font-size: large;
    text-transform: uppercase;
}

table{
    font-family: 'Roboto Mono', monospace;
}

tbody{
    text-align: center;
    font-size: 1rem;
    text-transform: capitalize;
}



#nuevo-container form{
    font-family: 'Roboto Mono', monospace;
    background-color: #bcbbba;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    box-shadow: #bcbbba 0px 0px 20px;
    margin: 5%;
}


#nuevo-container a{
    font-size: medium;
    color: blue;
}

.form-group{
    padding: 5px;
}

.form-group label{
    padding: 5px;
    text-transform: uppercase;
}

#margen-titulo h2{
    margin-right: 10px !important;
}

#contenedor-vista-previa{
    font-family: 'Roboto Mono', monospace;
    background-color: #bcbbba;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
    box-shadow: #bcbbba 0px 0px 20px;
    padding: 5%;
    width: 500px;
}








