@model Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Renovar Contrato";
}

<div id="nuevo-container" class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Renovar" method="POST" class="text-center border border-light p-5">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <a asp-action="Index">
                    <i class="bi bi-arrow-return-left" style="font-size: 2em; color: black;"></i>
                </a>
                <div class="form-group">
                    <input type="hidden" asp-for="IdContrato" />
                </div>
                <div class="form-group">
                    <label asp-for="IdInmueble" class="control-label"></label>
                    <input type="text" value="@Html.DisplayFor(model => model.Inmueble.IdInmueble)" class="form-control"
                        readonly />
                    <input type="hidden" asp-for="IdInmueble" />
                </div>
                <div class="form-group">
                    <label asp-for="IdInquilino" class="control-label"></label>
                    <input type="text"
                        value="@Html.DisplayFor(model => model.Inquilino.Nombre) @Html.DisplayFor(model => model.Inquilino.Apellido)"
                        class="form-control" readonly />
                    <input type="hidden" asp-for="IdInquilino" />
                </div>
                <div class="form-group">
                    <label asp-for="FechaInicio" class="control-label"></label>
                    <input asp-for="FechaInicio" class="form-control" />
                    <span asp-validation-for="FechaInicio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaFin" class="control-label"></label>
                    <input asp-for="FechaFin" class="form-control" />
                    <span asp-validation-for="FechaFin" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input id="boton-general" type="submit" value="Renovar" class="btn btn-info btn-block" />
                </div>
            </form>
        </div>
    </div>
</div>