@model Inmobiliaria.Models.Login

@{
    ViewData["Title"] = "Login";
}

<!-- Login form -->

    <div id="login" class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5">
                        <h5 class="card-title text-center mb-5 fw-light fs-5 fw-bold">Ingresar</h5>
                        <form asp-action="Login">
                            <div class="form-floating mb-3">
                                <input type="email" asp-for="Usuario" class="form-control">
                                <label asp-for="Usuario" class="control-label">name@example.com</label>
                                <span asp-validation-for="Usuario" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" asp-for="Clave" class="form-control">
                                <label asp-for="Clave" class="control-label">Contraseña</label>
                                <span asp-validation-for="Clave" class="text-danger"></span>
                            </div>
                            <div class="d-grid">
                                <button id="boton-general" class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Entrar</button>
                            </div>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
